.middlebox {
    background-image: linear-gradient(to right, rgb(98, 182, 203), rgb(0, 118, 161));
    padding: 7%;
    padding-top: 4%;
  }

.title{
    margin: 0%;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;

}

.description{
    margin: 4px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
}