
header {
    background-color: rgb(27, 73, 101);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 50px;
    margin-bottom: 0px;
}

.title{
    font-family: Roboto;
    color: rgb(255, 255, 255);
}

.navbar .navList{
    list-style: none;
}
.navList li{
    display: inline-block;
    padding:  20px;
}

.Link {
    font-family: Roboto;
    font-size: 700;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
