.container {
    
    background-color:  rgb(27, 73, 101);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    
}
.imgFooter {
    height: 100px;
    width: 570px;
}
.direccion {
    
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; /* 96% */
}

.descripcion {
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.copyright{
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 171.429% */
}
