.search{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(27, 73, 101);
    border-radius: 25px;
    margin-top: 4%;
    margin-inline: 250px;
    margin-bottom: 7%;

}

.searchBar{
    display: flex;
    align-items: center;
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 14px;
}

.button{
    display: flex;
  align-items: center;
  padding: 8px 13px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-size: 14px;
  margin-left: 8px;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (max-width: 1600px) {
    .search{
        margin-inline: 150px;
    }
}

@media (max-width: 900px) {
    .search{
        margin-inline: 50px;
    }
}


@media (max-width: 570px) {
    .search{
        margin-inline: 25px;
    }
}
